.App h1{
 text-align: center;
} 
body{
    background-color: #000000;
}
.mains{
    width: 400px;
    margin-left: 550px;
    text-align: center;
    margin-top: 15px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}
.endsg{
    width: 400px;
    height: 60px;
    margin-left: 550px;
    text-align: center;
    margin-top: 10px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}
.reels-container {
    margin-top: 20px; /* Adjust as needed */
  }
  
  .reel {
    margin-bottom: 10px; /* Space between reels */
  }
  










  
  
  

